{% extends "administrador/base.html" %}
{% load static %}
{% block title %} Gestión productos {% endblock %}
{% block content %}
<br><div class="container"><br>
    <center><h1>Modificar Producto</h1></center>
    <div class="row">
        <form action="" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_table }}

            <br><input type="submit" class="btn btn-primary" id="modificar" value="Actualizar">        
            {% if mensaje %}
                <br><br><div id="error" class="alert alert-success" role="alert">
                    {{ mensaje }}
                </div>
            {% endif %}
        </form>
    </div>
    <br><a href="{% url 'productoList' %}" class="btn btn-primary">Volver</a>
</div><br><br><br><br><br><br><br><br><br>
{% endblock %}




